---
import Base from "../../layouts/Base.astro";
---
<Base title="Unity & Unreal Showcase">
  <h1>Unity & Unreal Showcase</h1>
  <p>This portfolio focuses on showcasing my skills in Unity and Unreal Engine along with demonstrating proficiency in C# and C++ code. (Add images and links to projects.)</p>
</Base>
